<h1>Chuck Norris Jokes</h1>

<app-loader [isLoading]="loading" [message]="'loading'"></app-loader>

<div *ngIf="!loading">
  <label class="btn-primary" ngbButtonLabel>
    <span ngbButton (click)="this.refresh.emit()">refresh</span>
  </label>

  <div *ngIf="jokes" class="row">
    <div class="col-md-3 col-sm-12" *ngFor="let joke of jokes">
      <app-joke-card-item [joke]="joke"></app-joke-card-item>
    </div>
  </div>

  <div *ngIf="!jokes">No jokes found</div>
</div>

<div class="row" *ngIf="error">
  <div class="col">
    <span>An error occurred: {{error.message}}</span>
  </div>
</div>
